In [24]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv("Corona_Cases/Corona_cases.csv")
df = df.where(df['countriesAndTerritories'] == 'Germany').dropna(how='all').reset_index()
df.head()

,index,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,17440,15/10/2020,15.0,10.0,2020.0,6638.0,33.0,Germany,DE,DEU,83019213.0,Europe,59.625957
1,17441,14/10/2020,14.0,10.0,2020.0,5132.0,43.0,Germany,DE,DEU,83019213.0,Europe,54.645182
2,17442,13/10/2020,13.0,10.0,2020.0,4122.0,13.0,Germany,DE,DEU,83019213.0,Europe,50.629244
3,17443,12/10/2020,12.0,10.0,2020.0,2467.0,6.0,Germany,DE,DEU,83019213.0,Europe,48.180413
4,17444,11/10/2020,11.0,10.0,2020.0,3483.0,11.0,Germany,DE,DEU,83019213.0,Europe,46.644624

In [40]:
df_new=df[['dateRep','cases','deaths']]
df_new

        dateRep   cases  deaths
0    15/10/2020  6638.0    33.0
1    14/10/2020  5132.0    43.0
2    13/10/2020  4122.0    13.0
3    12/10/2020  2467.0     6.0
4    11/10/2020  3483.0    11.0
..          ...     ...     ...
285  04/01/2020     0.0     0.0
286  03/01/2020     0.0     0.0
287  02/01/2020     0.0     0.0
288  01/01/2020     0.0     0.0
289  31/12/2019     0.0     0.0

[290 rows x 3 columns]

               dateRep   cases  deaths
dateRep
15/10/2020  15/10/2020  6638.0    33.0
14/10/2020  14/10/2020  5132.0    43.0
13/10/2020  13/10/2020  4122.0    13.0
12/10/2020  12/10/2020  2467.0     6.0
11/10/2020  11/10/2020  3483.0    11.0
...                ...     ...     ...
04/01/2020  04/01/2020     0.0     0.0
03/01/2020  03/01/2020     0.0     0.0
02/01/2020  02/01/2020     0.0     0.0
01/01/2020  01/01/2020     0.0     0.0
31/12/2019  31/12/2019     0.0     0.0

[290 rows x 3 columns]