In [24]:
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
df = pd.read_csv("Corona_Cases/owid-covid-data.csv")
df = df.where(df['location'] == 'Germany').dropna(how='all').reset_index()
df.head()

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,11800,DEU,Europe,Germany,2019-12-31,NaN,0.0,NaN,NaN,0.0,...,45229.245,NaN,156.139,8.31,28.2,33.1,NaN,8.0,81.33,0.936
1,11801,DEU,Europe,Germany,2020-01-01,NaN,0.0,NaN,NaN,0.0,...,45229.245,NaN,156.139,8.31,28.2,33.1,NaN,8.0,81.33,0.936
2,11802,DEU,Europe,Germany,2020-01-02,NaN,0.0,NaN,NaN,0.0,...,45229.245,NaN,156.139,8.31,28.2,33.1,NaN,8.0,81.33,0.936
3,11803,DEU,Europe,Germany,2020-01-03,NaN,0.0,NaN,NaN,0.0,...,45229.245,NaN,156.139,8.31,28.2,33.1,NaN,8.0,81.33,0.936
4,11804,DEU,Europe,Germany,2020-01-04,NaN,0.0,NaN,NaN,0.0,...,45229.245,NaN,156.139,8.31,28.2,33.1,NaN,8.0,81.33,0.936

In [55]:
df_new=df[['date','new_cases','new_deaths']]
df_new

           date  new_cases  new_deaths
0    2019-12-31        0.0         0.0
1    2020-01-01        0.0         0.0
2    2020-01-02        0.0         0.0
3    2020-01-03        0.0         0.0
4    2020-01-04        0.0         0.0
..          ...        ...         ...
286  2020-10-12     2467.0         6.0
287  2020-10-13     4122.0        13.0
288  2020-10-14     5132.0        43.0
289  2020-10-15     6638.0        33.0
290  2020-10-16     7334.0        24.0

[291 rows x 3 columns]

In [59]:
df_new[1:275]

           date  new_cases  new_deaths
1    2020-01-01        0.0         0.0
2    2020-01-02        0.0         0.0
3    2020-01-03        0.0         0.0
4    2020-01-04        0.0         0.0
5    2020-01-05        0.0         0.0
..          ...        ...         ...
270  2020-09-26     2507.0         9.0
271  2020-09-27     1410.0         5.0
272  2020-09-28     1192.0         3.0
273  2020-09-29     2089.0        11.0
274  2020-09-30     1798.0        17.0

[274 rows x 3 columns]